$color-primary: #bcece0;
$color-secondary: #243141;
$color-contrast1: #d45e49;
$color-contrast2: #36eee0;

$color-fontlight: #fff;
$color-fontdark: #000;
$color-bg: #f2f2f2;

$box-shadow: 0 0 10px rgba($color-fontdark, 0.1);

// List item
$list-item-height: 50px;
$list-item-pad-block: 10px;
$list-item-pad-inline: 50px;
